body {
    background-color: rgba(32,32,32,255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 5%;
    margin-right: 7%;
    font-style: italic;
    text-shadow: 1px 1px gray;
    text-align: center;
    color: gainsboro;
}


header > img {
    display: block;
    margin-right: auto;
    margin-top: auto;
}

h1 {
    font-size: 3rem;
}

h2 ,a {
    font-size: 2rem;
    color: gainsboro;
    text-decoration: none;
}

nav ul {
    list-style: georgian;
    text-align: center;
    margin: 0;
    transition: 1s;
    overflow: hidden;
}

.dropdownmenu li{
    float: left;
    position: relative;
    width: auto;
}

.dropdownmenu a{
    background-color: black;
    color: beige;
    display: block;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Poppins',sans-serif;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    
}

.dropdownmenu li:hover a{
    background: blueviolet;
}

li:hover ul#submenu {
    opacity: 1;
    top: 80px;
    visibility: visible;
}

#submenu {
    left: 0;
    opacity: 0;
    top: 35px;
    visibility: hidden;
    position: absolute;  /* was position absolute */
    top: 0;
}



#submenu li {
    float: none;
    width: 50%;
}

#submenu a:hover {
    background: orange;
}

#submenu a{
    background-color: aqua;
}



nav li {
    display: block;
}

nav {
    position: fixed;
    top: 0;
    
}

section {
    display: flex;
}

article {
    flex: 1;
    margin: 50px;
    padding: 20px;
}

footer {
    display: flex;
    margin: 200px;
}

footer div {
    flex: 1;
}

nav li {
    display: inline-block;
    color: black;
}

nav li a {
    color: rgb(224, 207, 207);
    text-decoration-line: none;
    margin-left: 17px;
}

nav ul {
    font-size: 18px;
    background-color: black;
    border-radius: 100px;
    text-align: center;
    list-style: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.engagement {
    position: relative;

}

.first-txt {
    position: absolute;
    top: 125px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
    backdrop-filter: blur(3px);
}

.wedding {
    position: relative;
}

.second-txt {
    position: absolute;
    top: 120px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
    
    backdrop-filter: blur(3px);
}

.jewelry {
    position: relative;
}

.third-txt {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    backdrop-filter: blur(3px);
}

.services {
    position: relative;
}

.fourth-txt {
    position: absolute;
    top: 55px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
    
    backdrop-filter: blur(3px);
}

.guide {
    position: relative;
}

.fifth-txt {
    position: absolute;
    top: 85px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
    
    backdrop-filter: blur(3px);
}

.about {
    position: relative;
}

.sixth-txt {
    position: absolute;
    top: 55px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
    
    backdrop-filter: blur(3px);
}

.black {
    background-color: black;
    border-radius: 50%;
}

.black1 {
    background-color: black;
    border-style: solid;
    border-color: black;
    border-width: 45px;
    border-radius: 50%;
}

.black2 {
    background-color: black;
    border-style: solid;
    border-color: black;
    background-size: 50% 50%;
    width: 400px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

img.bg {
min-height: 100%;
min-width: 1024px;
z-index: -1;
width: 100%;
height: auto;


position: fixed;
top: 0;
left: 0;
}
  
@media screen and (max-width: 1024px) { 
    img.bg {
      left: 50%;
      margin-left: -512px;  
    }
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
}